@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

.location {
    width: 149px;
    height: 36px;
    margin: 68px 0 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #EEEEEE;
}

.score {
    width: 155px;
    height: 120px;
    margin: 21px 0 0 0;
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    background: #080001;
    border-radius: 5px;
}

.btn {
    margin-top: 26px;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    background-color: #1B244A;
    color: #9AABD8;
}